.btn-xs { padding: $padding-xs; font-size: $text-xs; }
.btn-sm { padding: $padding-sm; font-size: $text-sm; }
.btn-md { padding: $padding-md; font-size: $text-base; } // default
.btn-lg { padding: $padding-lg; font-size: $text-lg; }
.btn-xl { padding: $padding-xl; font-size: $text-xl; }


